<%- include("header") -%>
<h2>This is the about page</h2>

<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nostrum voluptas sunt ut odio eveniet illo possimus voluptatum totam impedit, quidem, magnam consectetur sit aliquam hic quasi laboriosam sapiente accusamus dolorem?</p>
<%- include("footer") -%>