    <h1 class="custom-text" style="text-align: center;">How to use: </h1>
    <h3 class="custom-text" style="text-align: center;">
        Use your custome URL by add /[yourCustomURL]<br>to get your own to-do list
    </h3>

    <footer>
        Copyright&copy; 2022 Fajar Ganteng
    </footer>
    
</body>
</html>