    <h1 style="text-align: center; color: black;">How to use: </h1>
    <h3 style="text-align: center;">Use your custome URL by add /[yourCustomURL]<br>to get your own to-do list</h3>

    <footer>
        Copyright 2022 Fajar Ganteng
    </footer>
    
</body>
</html>